body{ 
  background: linear-gradient(-140deg, rgb(223, 233, 249) 40%, rgb(255, 255, 255));
}
input{
    background-color: rgb(243, 243, 243);
    border-radius: 16px;
    width: 480px;
    height: 45px;
}
#containerprincipal{
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    
    }
    a{
        width: 25%;
        height: 35px;
        background-color: rgb(0, 76, 176);
        border: solid rgb(13, 157, 197) 3px;        color: white;
        border-radius: 20px;
        padding: 5px;
        margin-bottom: 10px;
        margin-top: 5px;
        font-size: 33px;
        text-align: center;
        font-family: fontEva;
        text-decoration: none;
    }
    a:hover{
      background-color: rgb(110, 107, 107);
    cursor: pointer;
    color: rgb(96, 95, 97);;
    }
    @font-face {
        font-family: fontEva;
        src: url(fonts/evanescent.ttf);
      }
      h2{
        font-size: 30px;
        font-family: fontMedieval;
     }
     @font-face {
        font-family: fontMedieval;
        src: url(fonts/MedievalSharp-Bold.ttf);
      }
    h1{
    font-size: 45px;
    font-family: fontAlice;
    font-style: italic;
    color: rgb(0, 76, 176);
    border-radius: 16px;
    box-shadow: 3px 3px 15px black;
    padding: 6px;
    
    background-color: rgb(255, 250, 250);
    width: 340px;
    height: 45px;
    text-align: center;
    }
    .enviar{
      width: 75%;
        height: 35px;
        background-color: rgb(0, 76, 176);
        border: solid rgb(13, 157, 197) 3px;        color: white;
        border-radius: 20px;
        padding: 5px;
        margin-bottom: 10px;
        margin-top: 15px;
        font-size: 33px;
        text-align: center;
        font-family: fontEva;
        text-decoration: none;
        height: 55px;
        margin-left: 12%;
    }
    .enviar:hover{
      background-color: rgb(110, 107, 107);
    cursor: pointer;
    color: rgb(73, 72, 74);;
    }
    #imagemlogo{
    
      width: 22%;
      
  }
  #caixapeso{
    font-size: 25px;
    
  }
  @media (max-width: 480px) {
    #caixapeso{
      font-size: 25px;
      width: 380px;
      
    }
    .enviar{
      width: 100%;
      margin-left: unset;
    }
   a{
    width: 83%;
   }
   #imagemlogo{
    width: 33%;
    margin-bottom: 20px;
  }
  h1{
    font-size: 35px;
    text-align: center;
  }
  h2{
    font-size: 25px;
  }
  }