body{ 
    background: linear-gradient(-140deg, rgb(223, 233, 249) 40%, rgb(255, 255, 255));
}
#containerprincipal{
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    margin-bottom: 5px;
}
@font-face {
    font-family: fontAlice;
    src: url(fonts/Alice_in_Wonderland_3.ttf);
  }
  @font-face {
    font-family: fontEva;
    src: url(fonts/evanescent.ttf);
  }
h1{
    font-size: 40px;
    font-family: fontAlice;
    font-style: arial;
    color: rgb(79, 64, 219);
    border-radius: 16px;
    box-shadow: 3px 3px 15px black;
    padding: 6px;
    padding-right: 6px;
    background-color: rgb(255, 250, 250);
    width: 340px;
    height: 55px;

    
}
h2{
    font-size: 30px;
    font-family: fontMedieval;
 }
 @font-face {
    font-family: fontMedieval;
    src: url(fonts/MedievalSharp-Bold.ttf);
  }
 @font-face {
     font-family: fontDragon;
     src: url(fonts/Dragonlord_PERSONAL_USE_ONLY.otf);
   }
   @font-face {
    font-family: fontMagik;
    src: url(fonts/MagicSchoolOne.ttf);
  }
   
a .ancora{
    width: 100%;
    height: 35px;
    background-color: rgb(0, 9, 91);
    border: solid rgb(255, 255, 255) 5px;    color: white;
    border-radius: 20px;
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 5px;
    font-size: 33px;
    text-align: center;
    font-family: fontEva;
    text-decoration: none;
    margin-left: -8px;
}
input{
  width: 265px;
  height: 40px;
  
}
.entrar{
  width: 90%;
    height: 55px;
    background-color: rgb(0, 9, 91);
    border: solid rgb(255, 255, 255) 5px;    color: white;
    border-radius: 20px;
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 5px;
    font-size: 33px;
    text-align: center;
    font-family: fontEva;
    text-decoration: none;
}
.entrar:hover {
  cursor: pointer;
  background-color: rgb(110, 107, 107);
    cursor: pointer;
    color: rgb(0, 35, 80);
  
}
a .ancora:hover{
  background-color: rgb(110, 107, 107);
    cursor: pointer;
    color: rgb(0, 35, 80);
}
#imagemlogo{
    
  width: 22%;
  
  
}
#caixaindex{
  width: 60%;
  font-size: 35px;
  margin-bottom: 20px;
  border-radius: 16px;
  padding: 10px;
}
@media (max-width: 480px) {
  #imagemlogo{
    
    width: 33%;
    margin-bottom: 20px;
    
    
  }
}